#product-overview{
    background: #ff1b68;
}
#product-overview h1 {
    font-family: 'Anton', sans-serif;
}

.section-title {
    color: #2ddf52
}

h1 {
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
}

